* {
  margin: 0;
  padding: 0;
 
}
.App {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   min-height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
}

.left h2 {
  background-color: #28a2b7;
  color: white;
  text-align: center;
  height: 23px;
  border-radius: 2px;
  padding: 33px;
  font-size: 33px;
  width: 27%;
}   

.list1 {
  list-style: none;
  margin-left: 26px;
  margin-top: 27px;
}

.list1 li {
  background-color: white;
  height: 30px;
  width: 14%;
  padding: 20px;
  font-size: 22px;
  color: blue;
  border-radius: 4px;
  box-shadow: 3px 3px 2px ghostwhite;
  margin-bottom: 19px;
  font-weight: 900;
  cursor: pointer;
}

.logout {
  margin-left: 93px;
  background-color: blue;
  height: 50px;
  color: white;
  width: 106px;
  border: none;
  border-radius: 4px;
  font-size: 20px
}

.right {
  position: relative;
  left: 31%;
  bottom: 521px;
  background-color: #8EA4D2;
  height: 528px;
  width: 57%;
}

.fst-card {
  background-color: aliceblue;
  height: 213px;
  width: 381px;
  border-radius: 10px;
  margin-left: 10px;
}

.list2 {
  list-style: none;
  padding: 11px;
  font-size: 18px;
  color: blue;
  font-weight: 500;
}

.input-box {
  height: 32px;
  width: 363px;
  margin: 9px;
  border-radius: 5px;
  border: 2px solid skyblue;
}

.search {
  margin-left: 16px;
  margin-top: 10px;
  height: 37px;
  width: 80px;
  color: white;
  background-color: blue;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

.sec h3 {
  text-align: center;
  color: azure;
  font-size: 27px;
  padding: 20px;
}

.meds {
  position: relative;
  left: 45%;
  top: -208px;
}

.first-p {
      font-size: 20px;
      margin-bottom: 20px;
      color: wheat;
      font-weight: 900;
}

.search-bar {
  height: 37px;
  width: 451px;
  border-radius: 5px;
  border: 2px solid skyblue;
}

.add {
  margin-top: 21px;
  height: 37px;
  width: 80px;
  color: white;
  background-color: blue;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

.last {
  position: relative;
  left: 45%;
  bottom: 170px;
}

.sec-p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  color: wheat;
  font-weight: 900;
}

.rand {
  width: 30px;
  height: 30px;
}

textarea{
  width: 451px;
  border-radius: 5px;
  border: 2px solid skyblue;
}

.clear {
  margin-top: 21px;
  width: 160px;
  color: white;
  background-color: blue;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  margin-right: 30px;
  height: 50px
}

.bill {
  margin-top: 21px;
  height: 50px;
  width: 160px;
  color: white;
  background-color: blue;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}







